:root {
  --accent-color: #2196f3;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --white-text-color: #fff;
  --primary-bg-color: #fff;
  --secondary-bg-color: #2f303a;
  --primary-font-family: 'Roboto', 'Open Sans', 'Noto Sans JP', 'Lato', sans-serif;
  --title-font-weight: 700;
  --sub-title-font-weight: 500;
  --primary-font-size: 14px;
  --secondary-font-size: 16px;
  --main-line-height: 1.15;
  --main-letter-spacing: 0.03em;
  --card-set-gap: 30px;
}

body {
  font-family: var(--primary-font-family);
  font-size: var(--primary-font-size);
  line-height: var(--main-line-height);
  letter-spacing: var(--main-letter-spacing);
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
}

.list {
  list-style: none;
  padding: 0;
}

.link {
  text-decoration: none;
  color: var(--primary-text-color);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header__container {
  display: flex;
  align-items: center;
}

.page-header__logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.page-header__contact-inf {
  display: flex;
  margin-left: auto;
}

.page-header__contact-inf-item:not(:last-child) {
  margin-right: 50px;
}

.page-header__contact-inf-link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: var(--title-font-weight);
  color: #000;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo__accent-word {
  color: var(--accent-color);
}

.site-nav__list {
  display: flex;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: var(--sub-title-font-weight);
  letter-spacing: 0.02em;
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link--current {
  position: relative;
  color: var(--accent-color);
}

.site-nav__link--current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.contact-inf__link {
  font-weight: var(--sub-title-font-weight);
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.contact-inf__link--vertical-alignment {
  display: flex;
  align-items: center;
}

.contact-inf__link--footer-text-style {
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.contact-inf__link--hovered:hover, .contact-inf__link--focused:focus {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-inf__icon {
  fill: currentColor;
}

.contact-inf__icon--prepend {
  margin-right: 10px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title {
  margin-bottom: 50px;
  font-weight: var(--title-font-weight);
  font-size: 36px;
  text-align: center;
}

.section--top-padding {
  padding-top: 0;
}

.section--bg-color-gray {
  background-color: #f5f4fa;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));
}

.grid__item {
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.grid__item--columns-3 {
  flex-basis: calc((100% - var(--card-set-gap) * 3) / 3);
}

.grid__item--columns-4 {
  flex-basis: calc((100% - var(--card-set-gap) * 4) / 4);
}

.grid__item--columns-6 {
  flex-basis: calc((100% - var(--card-set-gap) * 6) / 6);
}

.filters {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.filters__item:not(:last-child) {
  margin-right: 8px;
}

.filters__label {
  display: inline-block;
  padding: 6px 22px;
  font-weight: var(--sub-title-font-weight);
  font-size: var(--secondary-font-size);
  line-height: 1.6;
  background-color: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
}

.filters__label:hover {
  color: var(--white-text-color);
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters__checkbox:checked + .filters__label {
  color: var(--white-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: background-color 250ms .filters__checkbox:checked + .filters__label r(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters__checkbox:focus-visible + .filters__label {
  outline: 2px solid black;
  outline-offset: 1px;
}

.portfolio__card {
  display: flex;
}

.portfolio__card-link {
  display: flex;
  flex-direction: column;
}

.portfolio__card-link:hover, .portfolio__card-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__card-link:hover .portfolio__card-overlay,
.portfolio__card-link:focus .portfolio__card-overlay {
  transform: translateY(0);
}

.portfolio__img-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
}

.portfolio__card-desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: var(--white-text-color);
}

.portfolio__card-footer {
  flex-grow: 1;
  padding: 20px 24px;
  border: 1px solid #eee;
  border-top: none;
}

.portfolio__card-title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__card-subtitle {
  font-size: var(--secondary-font-size);
  line-height: 1.8;
  color: var(--secondary-text-color);
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-bg-color);
}

.page-footer__container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.page-footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  color: #fff;
}

.page-footer__title {
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.address {
  font-style: normal;
}

.address__location {
  display: inline-block;
  margin-bottom: 9px;
  line-height: 1.7;
  color: var(--white-text-color);
}

.address__contact-inf-item:not(:last-child) {
  margin-bottom: 9px;
}

.socials {
  display: flex;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__item--bg-style {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.socials__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.socials__icon--fill-white {
  fill: #fff;
}

.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover > .socials__icon,
.socials__link:focus > .socials__icon {
  fill: #fff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button {
  min-width: 200px;
  min-height: 50px;
  padding: 0;
  font-weight: var(--title-font-weight);
  font-size: var(--secondary-font-size);
  line-height: 1.8;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: #fff;
}

.button--icon-alignment {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscribe-form {
  display: flex;
  align-items: flex-end;
}

.subscribe-form__field {
  margin-right: 12px;
}

.subscribe-form__label {
  display: block;
}

.subscribe-form__input {
  height: 50px;
  width: 358px;
  padding: 15px 16px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe-form__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
/*# sourceMappingURL=portfolio.css.map */