.address {
    font-style: normal;
}

.address__location {
    display: inline-block;

    margin-bottom: 9px;

    line-height: 1.7;
    color: var(--white-text-color);
}

.address__contact-inf-item:not(:last-child) {
    margin-bottom: 9px;
}
