.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    width: 100%;
    max-width: 528px;
    height: 100%;
    max-height: 581px;
    padding: 40px;

    background-color: var(--primary-bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal__button {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    width: 30px;
    height: 30px;
    padding: 0;

    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    cursor: pointer;
}

.modal__icon {
    width: 11px;
    height: 11px;
    margin: auto;
}

.modal__button:hover > .modal__icon,
.modal__button:focus > .modal__icon {
    fill: var(--accent-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
