.order-service-form__head {
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
}

.order-service-form__field {
    position: relative;

    display: flex;
    flex-direction: column;

    margin-bottom: 10px;
}

.order-service-form__field:last-child {
    margin-bottom: 20px;
}

.order-service-form__field:focus-within > .order-service-form__icon {
    fill: var(--accent-color);
}

.order-service-form__field:focus-within > .order-service-form__input {
    outline-color: var(--accent-color);
}

.order-service-form__label {
    margin-bottom: 4px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: var(--secondary-text-color);
}

.order-service-form__input {
    height: 40px;

    padding: 12px 42px;

    border: 1px solid rgba(29, 19, 19, 0.2);
    border-radius: 4px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-service-form__input:hover {
    border-color: var(--accent-color);
}

.order-service-form__input:hover + .order-service-form__icon {
    fill: var(--accent-color);
}

.order-service-form__input--text-area {
    min-height: 120px;
    padding: 12px 16px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.7;
    letter-spacing: 0.01em;

    resize: none;
}

.order-service-form__input--text-area::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.7;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.order-service-form__icon {
    position: absolute;
    top: 29px;
    left: 12px;

    width: 18px;
    height: 18px;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-service-form__terms-contract-field {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 30px;

    cursor: pointer;
}

.order-service-form__icon-position-wrapper {
    position: relative;
    margin-right: 8px;
}

.order-service-form__custom-checkbox {
    display: block;
    width: 16px;
    height: 15px;

    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    border: 2px solid var(--primary-text-color);
    border-radius: 1px;
    background-color: #fff;
}

.order-service-form__custom-checkbox:checked {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}

.order-service-form__icon-custom-checkbox {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 16px;
    height: 15px;

    opacity: 0;
}

.order-service-form__custom-checkbox:checked + .order-service-form__icon-custom-checkbox {
    opacity: 1;
}

.order-service-form__terms-contract-label {
    font-weight: 400;
    color: var(--secondary-text-color);
    line-height: 1.7;
}

/* terms-contract-label */
.terms-contract-label__link {
    color: var(--accent-color);
}

.order-service-form__button {
    display: block;

    margin-left: auto;
    margin-right: auto;
}
