body {
    font-family: var(--primary-font-family);
    font-size: var(--primary-font-size);
    line-height: var(--main-line-height);
    letter-spacing: var(--main-letter-spacing);

    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
}

img {
    display: block;
    width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
p,
ul {
    margin: 0;
}

.list {
    list-style: none;
    padding: 0;
}

.link {
    text-decoration: none;
    color: var(--primary-text-color);
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}
