.section {
    padding-top: 94px;
    padding-bottom: 94px;

    &__title {
        margin-bottom: 50px;

        font-weight: var(--title-font-weight);
        font-size: 36px;
        text-align: center;
    }

    &--top-padding {
        padding-top: 0;
    }

    &--bg-color-gray {
        background-color: #f5f4fa;
    }
}
