.what-we-do-content {
    position: relative;
}

.what-we-do-content__title-underlay {
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;

    padding: 27px 0;

    background-color: rgba(47, 48, 58, 0.8);
}

.what-we-do-content__title {
    font-size: var(--primary-font-size);
    font-weight: var(--title-font-weight);
    text-transform: uppercase;
    color: var(--white-text-color);
    text-align: center;
}
